html {
    list-style-position: inside;
    background:#DBD8E3;
        display: inline-block;
}
.gradient-background {
  background: linear-gradient(270deg, #DBD8E3, #5C5470,  #352F44,  #2A2438);
  background-size: 180% 100% 20%;
  animation: gradient-animation 60s ease infinite;
}
body {
  background:#DBD8E3;
}

.carousel-item img{
  object-fit:contain;
  max-height: 500px;
  width: 400px;
}



    /* Change the color of the text in the carousel captions to grey */
    .carousel-caption h3,
    .carousel-caption p {
      color:  #5C5470;
    }

/* Styles for Card Headers */
.card .card-header {
  color: white; /* Replace with your desired color code */
  background-color: #2A2438;
}

#contact {
  text-align: right; /* Align text to the right */
}

#contact .container {
  max-height: auto;
  text-align: right;
  margin-left: auto; /* Align container to the right */
  margin-right: 50px;
  margin-top: -49px;
  width: auto; /* Adjust width as needed */
  display: inline-block;
  justify-content: flex-end; /* Ensure content aligns to the right */


}

footer .text-body-secondary{
  color:#DBD8E3

}




@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}





