html {
  list-style-position: inside;
  background:#DBD8E3;
  display: inline-block;
}

body {
  background:#DBD8E3;
}

.navbar{
  background-color:#DBD8E3;
}

.gradient-background {
  background: linear-gradient(300deg, #5C5470, #352F44, #B9B4C7);
  background-size: 180% 180%;
  animation: gradient-animation 12s ease infinite;
}

.carousel-item img{
  object-fit:contain;
  max-height: 500px;
  width: 400px;
  padding: 10px;
}

/* Change the color of the text in the carousel captions to grey */
.carousel-caption h3,
.carousel-caption p {
  color:  #5C5470;
}




/* Styles for Card Headers */
.card .card-header {
  color: white; 
  background-color: #5C5470;
}
.card {
  width: auto;
  display: inline-block;
  justify-content: flex-end;
}


footer .text-body-secondary{
  color:#DBD8E3;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


#contact .container {
  margin-right: 50px;
  display: inline-block;
  justify-content: flex-end;
  text-align: center;

}

/* Additional styles for footer and other elements */
.text-white {
  color: white;
}

/* Fixes for missing styles in cards and other elements */
.text-bg {
  background-color: #DBD8E3;
}